<!DOCTYPE html>
<html>
<head>
  <title>Redact</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/css/mdb.min.css" rel="stylesheet">
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.3/js/mdb.min.js"></script>
</head>
<body class="">

<!-- As a heading -->
<nav class="navbar navbar-light unique-color">
  <span class="navbar-brand" style="color: white;"> Redact Data  </span>
</nav>


<div class="container">
  <div>
    <div class="h1"> Here You Go </div>
    <form onsubmit="download(this['name'].value, this['text'].value)">
      <input type="text" name="name" value="test.txt" hidden="hidden">
      <input type="text" name="text" hidden="hidden" value="<%=out%>">
      <input type="submit" class="btn btn-default" value="Download">
    </form>
  </div>
  <div class="card z-depth-2 mx-auto p-5 m-5 blue-gradient" style="color: white; font-size: 1.25rem; overflow: scroll; max-height: 400px; max-width: 700px; margin: 0 auto;">
    <%=out %>
  </div>
  
</div>

<script type="text/javascript">
  function download(filename, text) {
  var element = document.createElement('a');
  element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  element.setAttribute('download', filename);

  element.style.display = 'none';
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
}
</script>
</body>
</html>
